* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Styling for hero section*/
@import url("https://fonts.googleapis.com/css2?family=Charm&family=Italianno&display=swap");

.hero {
  padding: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(5, 28, 30, 0.908)),
    url(/static/images/dumpling.jpg) no-repeat center center/cover;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100%;
}
.hero .info h1 {
  margin-bottom: 1rem;
  font-family: Papyrus, fantasy;
  font-weight: 600;
  font-size: 3em;
  color: #f3ccf3;
  text-shadow: 2px 2px 2px rgb(9, 66, 96);
}
.hero .info p {
  margin-bottom: 2rem;
  font-family: "Courier New", Courier, monospace;
  color: #8ddfcb;
  font-weight: 400;
  font-size: 20px;
  text-shadow: 2px 2px 2px rgb(154, 174, 185);
}
.button {
  padding: 10px 20px;
  background-color: rgb(8, 52, 56);
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5em;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 2px 2px 2px rgb(9, 66, 96);
}
.button:hover {
  color: #f8f4ec;
  background-color: rgb(15, 163, 163);
  transition: 0.3s;
}
/*Styling for hero section, end*/

/*Styling for footer*/
footer {
  background-color: rgb(8, 52, 56);
  background: linear-gradient(to bottom, rgb(8, 52, 56), rgb(0, 128, 128));
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* border-radius: 2rem 2rem 0 0; */
}
.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 20%;
}

.socialIcons a:i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
.socialIcons a:hover {
  background-color: rgb(8, 52, 56);
  transition: 0.3s;
}
.socialIcons a:hover i {
  background-color: white;
  transition: 0.5s;
}

.footerNav {
  margin: 30px 0;
}
.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-style: italic;
}
.footerNav ul li a {
  color: aqua;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.5;
  transition: 0.5s;
}
.footerNav ul li a:hover {
  opacity: 1;
  color: aliceblue;
}
.footerBottom {
  padding: 20px;
  text-align: center;
}
.footerBottom p {
  color: wheat;
}
.designer {
  opacity: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

@media (max-width: 700px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
/*Styling for footer, end*/

/*Styling for contact us page*/
.contact {
  color: aliceblue;
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  justify-content: center;
  /* flex-direction: column; */
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(
      to bottom,
      rgba(8, 52, 56, 0.8),
      rgba(0, 128, 128, 0.8)
    ),
    url(/static/images/contact.jpg) no-repeat center;
  background-size: cover;
}

.contact .content {
  text-align: center;
  margin-top: 40px;
}
.contact .content h2 {
  font-size: 56px;
  font-weight: 600;
}

.contact .content p {
  font-weight: 300;
}
.Container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.Container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.Container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.Container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  color: black;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.Container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 20px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.Container .contactInfo .box .text h3 {
  font-weight: 500;
  font-size: 40px;
  color: #fff;
}
.Container .contactInfo .box .text a {
  color: #fff;
  text-decoration: none;
}
.contactForm {
  width: 50%;
  padding: 50px;
  background: #fff;
  border-radius: 20px;
}
.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
  pointer-events: none;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #ffb700;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #085662;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  font-weight: 300;
  border-radius: 5px;
}
.contactForm .inputBox input[type="submit"]:hover {
  background: #16a6c3;
  transition: 0.3s;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .Container {
    flex-direction: column;
  }
  .Container .contactInfo {
    margin-bottom: 40px;
  }
  .Container .contactInfo,
  .contactForm {
    width: 100%;
  }
}

/*Styling for contact us page, end*/
