{% extends 'base.html' %}
{% block title %}
  Menu
{% endblock %}

{% block body %}
  <div class="content">
    <div class="main">
      <div class="sectionTitle">
        <h2>Our Menu</h2>
        <p>Desire the thrill of bold flavors? our menu has something to satisfy every palate.</p>
      </div>

      <div class="menu">
        <div class="menuCol">
          <h4>Dumplings</h4>

          <div class="singleMenu">
            <img src="/static/images/menu/jiaozi.jpg" alt="" width="100px" class="enlargeable" />
            <div class="menucontent">
              <h5>Jiaozi<span>Rs350</span></h5>
            </div>
          </div>

          <div class="singleMenu">
            <img src="/static/images/menu/wonton.jpg" alt="" width="100px" class="enlargeable" />
            <div class="menucontent">
              <h5>Wonton <span>Rs400</span></h5>
            </div>
          </div>

          <div class="singleMenu">
            <img src="/static/images/menu/dimsum.jpg" alt="" width="100px" class="enlargeable" />
            <div class="menucontent">
              <h5>Dim Sum<span>Rs360</span></h5>
            </div>
          </div>

          <div class="singleMenu">
            <img src="/static/images/menu/mandu.jpg" alt="" width="100px" class="enlargeable" />
            <div class="menucontent">
              <h5>Mandu<span>Rs300</span></h5>
            </div>
          </div>
        </div>

        <div class="menuCol">
          <h4>Steamed Momo</h4>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/buffsteam.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Buff Steam momo <span>Rs170</span></h5>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/buffjhol.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Buff Jhol momo<span>Rs210</span></h5>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/chickensteam.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Chicken Steam momo<span>Rs190</span></h5>
            </div>
          </div>
          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/chickenjhol.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Chicken Jhol momo<span>Rs230</span></h5>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/vegsteam.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Veg Steam momo<span>Rs150</span></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- menu close -->

      <hr class="with-margin" />
      <div class="menu">
        <div class="menuCol">
          <h4>Kothey Momo</h4>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/chickenkothey.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Chicken Kothey momo <span>Rs240</span></h5>
              <p></p>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/buffkothey.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Buff Kothey momo <span>Rs210</span></h5>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/vegkothey.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Veg kothey momo<span>Rs180</span></h5>
            </div>
          </div>
        </div>

        <div class="menuCol">
          <h4>Fried Momo</h4>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/bufffried.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Buff fried momo<span>Rs220</span></h5>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/chickenfried.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Chicken fried momo<span>Rs230</span></h5>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/vegfried.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Veg fried momo <span>Rs200</span></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- menu close -->
      <hr class="with-margin" />

      <div class="menu">
        <div class="menuCol">
          <h4>Tandoori Momo</h4>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/chickentandoori.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Chicken tandoori momo <span>Rs265</span></h5>
              <p></p>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/bufftandori.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Buff tandoori momo<span>Rs250</span></h5>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/vegtandoori.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Veg tandoori momo <span>Rs235</span></h5>
            </div>
          </div>
        </div>

        <div class="menuCol">
          <h4>Chilly Momo</h4>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/chickenchilly.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Chicken chilly momo<span>Rs250</span></h5>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/buffchilly.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Buff chilly momo <span>Rs240</span></h5>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/vegchilly.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Veg chilly momo<span>Rs220</span></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- menu close -->
      <hr class="with-margin" />
      <div class="menu">
        <div class="menuCol">
          <h4>Fries</h4>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/plainfries.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Plain fries<span>Rs160</span></h5>
              <p></p>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/masalafries.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Masala fries<span>210</span></h5>
            </div>
          </div>
        </div>

        <div class="menuCol">
          <h4>Sausages</h4>
          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/sausageC.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Chicken Sausage<span>Rs60</span></h5>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/sausageB.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Buff sausage<span>Rs50</span></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- menu close -->
      <hr class="with-margin" />

      <div class="menu">
        <div class="menuCol">
          <h4>Chicken Dishes</h4>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/wings.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Chicken wings(12pcs) <span>Rs895</span></h5>
              <p></p>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/cfc.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Crispy fried chicken(Full)<span>Rs400</span></h5>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/tandoori.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Tandoori chicken(Full)<span>Rs850</span></h5>
            </div>
          </div>
        </div>

        <div class="menuCol">
          <h4>Carbonated Drinks</h4>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/coke.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Coke 1L<span>Rs180</span></h5>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/dew.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Dew 1L<span>Rs180</span></h5>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/fanta.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Fanta 1L <span>Rs180</span></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- menu close -->
      <hr class="with-margin" />

      <div class="menu">
        <div class="menuCol">
          <h4>Organic Drinks</h4>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/banana.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Banana shake<span>Rs200</span></h5>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/strawberryshake.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Strawberry shake<span>Rs250</span></h5>
            </div>
          </div>

          <div class="singleMenu">
            <img class="enlargeable" src="/static/images/menu/lassi.jpg" alt="" width="100px" />
            <div class="menucontent">
              <h5>Plain lassi<span>Rs180</span></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- menu close -->
    </div>
    <!-- Main close -->
  </div>
{% endblock %}
